.chat-box {
	position: static;
	display: inherit;

	border: var(--color-chatdisplay) 2px solid;
	border-radius: 16px 16px 0px 0px;
	background: var(--color-textbox);


	overflow: auto;
	width: 99.5%;
	height: 70dvh;

}

.chat-box ul {
	padding: 0 0;
	margin: 2% 2%;
}

.chat-box ul li {
	font-size: 25px;
}

@media (max-width: 768px) {
	.chat-box {
		height: 60dvh;
	}
}
