.chat-box {
	position: static;
	display: inherit;

	overflow: auto;
	background-color: var(--color-chatdisplay);
	width: 100%;
}

.chat-box ul {
	padding: 0 0;
	margin: 2% 2%;
}

.chat-box ul li {
	font-size: 25px;
}

@media (max-width: 768px) {
	.chat-box {
		width: 80vw;
		height: 60vh;
	}
}
