.chat-box {
	position: static;
	display: flex;

	overflow: auto;
	background-color: #f9f9f9;
	height: 30em;
	width: 25em;
}

.chat-box ul li {
	font-size: 1em;
}

@media (max-width: 768px) {
	.user-box {
		display: none;
	}

	.chat-box {
		width: 80vw;
		height: 60vh;
	}
}
