.overlay {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: grid;
	place-items: center;
	z-index: 1001;
}

.window {
	background-color: var(--color-alertWindow);
	border-radius: 16px;
	padding: 24px;
	max-width: 400px;
	width: 100%;
	box-shadow: var(--shadow-midium)
}

.window p {
	font-family: sans-serif;
	padding-bottom: 10px;
	font-weight: 20;
	font-size: 1rem;
	color: #213547;
}

.button-div {
	display: grid;
	place-items: center;
}

.window button {
	padding: 8px 16px;
	border-radius: 12px;
	background: var(--color-button-primary);
	cursor: pointer;
}

.window button:hover {
	background: var(--color-button-primary-hover);
}

@media (max-width:768px) {
	.window {
		max-width: 200px;
	}
}
