:root {
  --color-button-border-hover: #cadfe0;

  --color-button-primary: #6d6875;
  --color-button-primary-hover: #6d6875;

  --color-button-submit: #473C00;
  --color-button-submit-hover: #A28900;

  --color-text: #474747;
  --color-button-text: white;

  --color-input-focus-border: #474747;
  --color-input-hover: #FFFCEA;

  --color-chatdisplay: #ffb4a2;
  --color-playersList: #ffb4a2;
  --color-userBox: #ffb4a2;
  --color-moreInfoBox: #ffb4a2;

  --color-rectangle: #e5989b;

  --color-alertWindow: #e5989b;

  --color-textbox: #e5989b;

  --shadow-medium: 0 4px 20px rgba(0, 0, 0, 0.2);

  --color-li: #87878720;
  --color-h2-background: #b5838d;

  --color-moreInfoBox-border: #b5838d;

  --color-playersList-border: #b5838d;

  --color-writter: #38A700;

  --color-timeBar-conatiner: #FDFBD4;

  background: linear-gradient(to bottom, #ffcdb2 70%, white);
}
