:root {
  --color-button-border-hover: #cadfe0;

  --color-button-primary: #fffade;
  --color-button-primary-hover: #FFFCEA;

  --color-button-submit: #473C00;
  --color-button-submit-hover: #A28900;

  --color-text: #474747;

  --color-input-focus-border: #474747;
  --color-input-hover: #FFFCEA;

  --color-chatdisplay: #FDFBD4;
  --color-playersList: #FDFBD4;
  --color-userBox: #FDFBD4;
  --color-moreInfoBox: #FDFBD4;

  --color-rectangle: #FDFBD4;

  --color-alertWindow: #FDFBD4;

  --color-textbox: #e3dcac;


  --shadow-medium: 0 4px 20px rgba(0, 0, 0, 0.2);

  --color-li: #87878720;
  --color-h2-background: #46323930;

  --color-moreInfoBox-border: #46323931;

  --color-playersList-border: #46323931;

  --color-writter: #38A700;

  color: #213547;
  background-color: #e8e5d1;
}
