ul {
	display: flex;
	flex-direction: column;
	text-align: left;
	list-style-type: none;
	padding: 0% 0%;
	margin: 0 0%;
	gap: 0.3em;
	box-sizing: border-box;
}

.h1-wrapper {
	height: 58px;
}

.lobby-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0;
	height: 80dvh;
}

.players-box h2 {
	background-color: var(--color-h2-background);
	border-radius: inherit;
	margin-bottom: 10px;
}

.main-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2% auto 0 auto;
	box-sizing: border-box;
}

.player-grid-container {
	width: 60vw;
	height: 60dvh;

	width: min(50vw, 50dvh);
	height: min(50vw, 50dvh);

	margin: auto;
	display: grid;
	gap: 5px;
	box-sizing: border-box;
}

.right-column {
	container-type: inline-size;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
	margin-top: 2%;
	margin-right: 2%;
}

@container (max-width:190px) {
	.right-column>* {
		display: none;
	}
}

.more-info-box {
	border-radius: 10px;
	border: 5px solid var(--color-moreInfoBox-border);
	width: 80%;
	height: auto;
	background-color: var(--color-moreInfoBox);
	box-shadow: var(--shadow-medium);
}

.more-info-box p {

	text-align: left;
	margin: 5%;
	line-height: 1.6;
}

.player-cell {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.player-button {
	/* Dugme treba da zauzme celu ćeliju */
	width: 100%;
	height: 100%;

	/* Stil dugmeta */
	border: 2px solid #333;
	background-color: var(--color-button-primary);
	cursor: pointer;
	font-size: clamp(0.5rem, 1.5vw + 1.5dvh, 2rem);
	/* Responzivna veličina fonta */
	text-align: center;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	white-space: normal;
	/* Omogućava prelom teksta */
	line-height: 1.2;
}

.player-button.disabled:hover,
.player-button:disabled:hover {
	background-color: #95a5a6;
	cursor: not-allowed;
	transform: none;
}

.player-button.disabled,
.player-button:disabled {
	background-color: #95a5a6;
	color: #ecf0f1;
	cursor: not-allowed;
}


.player-button:hover {
	background-color: var(--color-button-primary-hover);
}

.left-column {
	display: flex;
	flex-direction: column;
	gap: 40px;
	width: 20vw;
	margin: 2% 0 0 2%;
}

.left-column .more-info-box {
	margin-top: auto;
}

.more-info-box {
	margin-top: auto;
}


.players-box {
	display: flex;
	border-radius: 20px 20px 0 0;
	flex-direction: column;
	background: linear-gradient(to bottom, var(--color-h2-background), var(--color-playersList));
	box-shadow: var(--shadow-medium);
	width: 90%;
	height: 400px;
}

.players-toggle {
	display: none;

}

.chat-div {
	display: flex;
	flex-direction: column;
	border-radius: 0.01rem;
	box-shadow: var(--shadow-medium);
	margin: 1em;
	place-items: center;
	border-radius: 0.01rem;
}

.chat-div-playing {
	position: relative;
	display: grid;

	place-items: center;

	margin: 1em auto;
	border-radius: 0.01rem;
	width: 40vw;
	height: auto;

	border-radius: 0.01rem;
	/* box-shadow: var(--shadow-medium); */

}

.player-positions {
	grid-area: 1/1;
	z-index: 1;

	width: 100%;
	height: 100%;

	position: relative;
}

.player-circle {
	width: 75px;
	height: 75px;

	background-color: grey;
	color: white;

	border-radius: 50%;

	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;

	transform: translate(-50%, -50%);
}

.player-circle.me {
	background-color: var(--color-writter);
}

.player-circle.writer {
	border: powderblue 10px solid;
}

.table-container {
	z-index: 0;
	grid-area: 1/1;

	width: 100%;
	height: 100%;

	object-fit: contain;
}

.chat-stack {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	grid-area: 1/1;

	width: 90%;
	max-width: 600px;
	/* Ograničava maksimalnu širinu */
	height: 100%;

	min-height: 200px;
	max-height: 300px;

	border-radius: 10%;
	overflow: hidden;
	/* Sprečava prekoračenje sadržaja */

	z-index: 2;
}


.button-box {
	display: grid;
	place-items: center;
}

li::marker {
	content: none;
}

.players-box li {
	width: 100%;
	background-color: var(--color-li);
	padding: 0.3em 1em;
	font-size: 1.5rem;
}

.chat-display li {
	border-bottom: 2px solid var(--color-moreInfoBox-border);
	box-sizing: content-box;
	padding: 0 0;
}

li {
	width: 100%;
	padding: 0 0.5em;
	font-size: 1.5rem;
	box-sizing: border-box;
}

h2 {
	padding: 0% 1%;
	margin: 0% 0;
}

@keyframes scaleIn {

	/* Početno stanje (odakle počinje) */
	from {
		font-size: 2.5em;
		opacity: 0.8;
		/* Opciono: da lepše "uđe" */
	}

	/* Krajnje stanje (gde se završava) */
	to {
		font-size: 3em;
		opacity: 1;
	}
}

/* 2. Primenjujemo animaciju na h1 */
h1 {
	animation-name: scaleIn;
	/* Kažemo koji keyframes da koristi */
	animation-duration: 0.8s;
	/* Koliko da traje (npr. 0.4 sekunde) */
	animation-timing-function: ease-out;
	/* Način na koji se ubrzava/usporava */

	/* --- Ovo je ključno --- */
	/* Govori elementu da zadrži stilove iz "to" stanja nakon završetka animacije */
	animation-fill-mode: forwards;
}

.start-game-btn {
	display: flex;
	margin: 2% 0;
	align-items: center;
	justify-content: center;

}

.right-chat,
.left-chat {
	display: flex;
	align-items: center;
	margin: 0 2%;
}

.start-game-btn button {
	box-shadow: var(--shadow-medium);
	width: 200px;
	height: 50px;
	font-size: 20px;
}

.left-chat-toggle,
.right-chat-toggle {
	display: none;
}

@media (max-width: 768px) {

	.players-box {
		position: absolute;
		display: none;
	}

	.right-chat {
		display: none;
	}

	.left-chat {
		display: none;
	}

	.main-div {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 10px auto 0 auto;
	}

	.player-circle {
		width: 25px;
		height: 25px;
	}

	.right-column {
		display: none;
	}

	.lobby-container {
		margin: 0 0;
	}

	.more-info-box {
		display: none;
	}

	.players-toggle {
		position: absolute;
		bottom: 0;
		left: 0;
		margin: 0 0 2% 2%;
		display: block;
	}

	.left-column {
		width: 0;
		margin: 0;
	}

	.players-toggle button {
		padding: 1%;
	}

	.chat-div-playing {
		width: 100%;
	}

	.players-overlay {
		top: 0;
		position: absolute;
		background: rgba(0, 0, 0, 0.4);
		backdrop-filter: blur(3px);
		width: 100vw;
		height: 100dvh;
	}

	.players-box.active {
		opacity: 1;
		display: flex;
		position: absolute;
		border-radius: 0 20px 20px 0;
		height: 50%;
		width: 60%;
		z-index: 100;
	}

	.left-chat-toggle,
	.right-chat-toggle {
		display: inline;
		position: absolute;
		bottom: 1dvh;
	}

	.left-chat-toggle {
		left: 1dvh;
	}

	.right-chat-toggle {
		right: 1dvh;
		transform: scaleX(-1);
	}

	.playing-overlay {
		top: 0;
		position: absolute;
		background: rgba(0, 0, 0, 0.4);
		backdrop-filter: blur(3px);
		width: 100vw;
		height: 100dvh;
		z-index: 3;

	}

	.left-chat.lactive {
		display: flex;
		flex-direction: column;
		align-items: start;

		left: 0;
	}

	.right-chat.ractive {
		display: flex;
		flex-direction: column;
		align-items: end;
		right: 0;
	}

	.right-chat.ractive,
	.left-chat.lactive {
		box-sizing: border-box;
		position: absolute;

		width: auto;
		height: auto;

		z-index: 4;

		margin: 0 0;
	}
}
