ul {
	list-style-type: none;
	padding: 0% 10%;
	margin: 0 2%;
}

.lobby-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 10%;
	height: 100%;
}

.main-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
}

.player-grid-container {
	width: 60vw;
	height: 60vh;

	width: min(50vw, 50vh);
	height: min(50vw, 50vh);

	margin: auto;
	display: grid;
	gap: 5px;
	box-sizing: border-box;
}

.right-column {
	container-type: inline-size;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
	gap: 40px;
	margin-top: 2%;
	margin-right: 2%;
}

@container (max-width:190px) {
	.right-column>* {
		display: none;
	}
}

.more-info-box {
	width: 80%;
	height: auto;
	background-color: var(--color-moreInfoBox);
	box-shadow: var(--shadow-medium);
}

.more-info-box p {

	text-align: left;
	margin: 5%;
	line-height: 1.6;
}

.player-cell {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.player-button {
	/* Dugme treba da zauzme celu ćeliju */
	width: 100%;
	height: 100%;

	/* Stil dugmeta */
	border: 2px solid #333;
	background-color: #f0f0f0;
	cursor: pointer;
	font-size: clamp(0.5rem, 1.5vw + 1.5vh, 2rem);
	/* Responzivna veličina fonta */
	text-align: center;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	white-space: normal;
	/* Omogućava prelom teksta */
	line-height: 1.2;
}

.player-button.disabled:hover,
.player-button:disabled:hover {
	background-color: #95a5a6;
	cursor: not-allowed;
}

.player-button.disabled,
.player-button:disabled {
	background-color: #95a5a6;
	color: #ecf0f1;
	cursor: not-allowed;
}


.player-button:hover {
	background-color: #ddd;
}

.left-column {
	margin-left: 2%;
	margin-top: 2%;
}


.players-box {
	display: flex;
	flex-direction: column;
	background-color: var(--color-playersList);
	box-shadow: var(--shadow-medium);
	width: 200px;
	height: 400px;
}

.players-toggle {
	display: none;

}

.chat-div {
	display: flex;
	flex-direction: column;
	border-radius: 0.01rem;
	box-shadow: var(--shadow-medium);
	margin: 1em;
	place-items: center;
	border-radius: 0.01rem;
}

.button-box {
	display: grid;
	place-items: center;
}

li::marker {
	content: none;
}

li {
	font-size: 1.5rem;
}

h2 {
	padding: 0% 1%;
	margin: 0% 0;
}

.start-game-btn {
	display: flex;
	margin: 5% 0;
	align-items: center;
	justify-content: center;

}

.start-game-btn button {
	box-shadow: var(--shadow-medium);
	width: 150px;
	height: 50px;
	font-size: 20px;

}

@media (max-width: 768px) {
	.players-box {
		position: absolute;
		display: none;
	}

	.main-div {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.right-column {
		display: none;
	}

	.lobby-container {
		margin: 0 0;
	}

	.more-info-box {
		display: none;
	}

	.players-toggle {
		position: absolute;
		bottom: 0;
		left: 0;
		margin: 0 0 2% 2%;
		display: block;
	}

	.left-column {
		margin: 0;
	}

	.players-toggle button {
		padding: 1%;
	}

	.players-overlay {
		top: 0;
		position: absolute;
		width: 100vw;
		height: 100vh;
	}


	.players-box.active {
		opacity: 0.7;
		display: flex;
		position: absolute;
		height: 80%;
		width: 60%;
		left: 0;
		z-index: 100;
	}

}
