ul {
	list-style-type: none;
	padding: 0% 10%;
	margin: 0 2%;
}

.lobby-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0;
	height: 70vh;
}

.main-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2% auto 0 auto;
}

.player-grid-container {
	width: 60vw;
	height: 60vh;

	width: min(50vw, 50vh);
	height: min(50vw, 50vh);

	margin: auto;
	display: grid;
	gap: 5px;
	box-sizing: border-box;
}

.right-column {
	container-type: inline-size;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
	gap: 40px;
	margin-top: 2%;
	margin-right: 2%;
}

@container (max-width:190px) {
	.right-column>* {
		display: none;
	}
}

.more-info-box {
	width: 80%;
	height: auto;
	background-color: var(--color-moreInfoBox);
	box-shadow: var(--shadow-medium);
}

.more-info-box p {

	text-align: left;
	margin: 5%;
	line-height: 1.6;
}

.player-cell {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.player-button {
	/* Dugme treba da zauzme celu ćeliju */
	width: 100%;
	height: 100%;

	/* Stil dugmeta */
	border: 2px solid #333;
	background-color: var(--color-button-primary);
	cursor: pointer;
	font-size: clamp(0.5rem, 1.5vw + 1.5vh, 2rem);
	/* Responzivna veličina fonta */
	text-align: center;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	white-space: normal;
	/* Omogućava prelom teksta */
	line-height: 1.2;
}

.player-button.disabled:hover,
.player-button:disabled:hover {
	background-color: #95a5a6;
	cursor: not-allowed;
}

.player-button.disabled,
.player-button:disabled {
	background-color: #95a5a6;
	color: #ecf0f1;
	cursor: not-allowed;
}


.player-button:hover {
	background-color: var(--color-button-primary-hover);
}

.left-column {
	width: 20vw;
	margin: 2% 0 0 2%;
}


.players-box {
	display: flex;
	flex-direction: column;
	background-color: var(--color-playersList);
	box-shadow: var(--shadow-medium);
	width: 90%;
	height: 400px;
}

.players-toggle {
	display: none;

}

.chat-div {
	display: flex;
	flex-direction: column;
	border-radius: 0.01rem;
	box-shadow: var(--shadow-medium);
	margin: 1em;
	place-items: center;
	border-radius: 0.01rem;
}

.chat-div-playing {
	position: relative;
	display: grid;

	place-items: center;

	margin: 1em auto;
	border-radius: 0.01rem;
	width: 40vw;
	height: auto;

	border-radius: 0.01rem;
	/* box-shadow: var(--shadow-medium); */

}

.player-positions {
	grid-area: 1/1;
	z-index: 1;

	width: 100%;
	height: 100%;

	position: relative;
}

.player-circle {
	width: 75px;
	height: 75px;

	background-color: grey;
	color: white;

	border-radius: 50%;

	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;

	transform: translate(-50%, -50%);
}

.player-circle.me {
	background-color: mediumseagreen;
}

.table-container {
	z-index: 0;
	grid-area: 1/1;

	width: 100%;
	height: 100%;

	object-fit: contain;
}

.chat-stack {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	grid-area: 1/1;

	margin-top: 12px;
	width: 90%;
	max-width: 600px;
	/* Ograničava maksimalnu širinu */
	height: 100%;

	min-height: 200px;
	max-height: 300px;

	border-radius: 10%;
	overflow: hidden;
	/* Sprečava prekoračenje sadržaja */

	z-index: 2;
}


.button-box {
	display: grid;
	place-items: center;
}

li::marker {
	content: none;
}

li {
	font-size: 1.5rem;
}

h2 {
	padding: 0% 1%;
	margin: 0% 0;
}

.start-game-btn {
	display: flex;
	margin: 5% 0;
	align-items: center;
	justify-content: center;

}

.right-chat,
.left-chat {
	display: flex;
	align-items: center;
	margin: 0 2%;
}

.start-game-btn button {
	box-shadow: var(--shadow-medium);
	width: 150px;
	height: 50px;
	font-size: 20px;

}

@media (max-width: 768px) {
	.players-box {
		position: absolute;
		display: none;
	}

	.right-chat {
		display: none;
	}

	.left-chat {
		display: none;
	}

	.main-div {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 10px auto 0 auto;
	}

	.player-circle {
		width: 25px;
		height: 25px;
	}

	.right-column {
		display: none;
	}

	.lobby-container {
		margin: 0 0;
	}

	.more-info-box {
		display: none;
	}

	.players-toggle {
		position: absolute;
		bottom: 0;
		left: 0;
		margin: 0 0 2% 2%;
		display: block;
	}

	.left-column {
		width: 0;
		margin: 0;
	}

	.players-toggle button {
		padding: 1%;
	}

	.chat-div-playing {
		width: 100%;
	}

	.players-overlay {
		top: 0;
		position: absolute;
		background: rgba(0, 0, 0, 0.4);
		backdrop-filter: blur(3px);
		width: 100vw;
		height: 100vh;
	}

	.players-box.active {
		opacity: 1;
		display: flex;
		position: absolute;
		height: 50%;
		width: 60%;
		left: 2vw;
		z-index: 100;
	}

}
