.home-container {
	position: relative;
	place-items: center;
	margin: auto;
	display: grid;
	margin: 2% 0;
	height: 100%;
}

.create-button {
	position: relative;
	/* make wrapper shrink to content and provide space for the animated ring */
	display: inline-block;
	width: 200px;
	padding: 3px;
	/* thickness of the border ring */
	border-radius: 12px;
	z-index: 0;
	background: transparent;
}

.create-button>button:hover {
	background: inherit;
	color: inherit;
	transition: background 0.5s ease, color 0.5s ease;
	/* glatka promena */
}

@property --angle {
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}

.create-button::after,
.create-button::before {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	width: 100%;
	height: 100%;
	border-radius: inherit;
	background-image: conic-gradient(from var(--angle), transparent, white);
	animation: 2.5s spin linear infinite;
}

.create-button:hover::after,
.create-button:hover::before {
	animation: none;
	background-image: none;
}

.create-button:hover {
	background: rgba(255, 255, 255, 0.1);
	z-index: 1;
}

@keyframes spin {
	from {
		--angle: 0deg;
	}

	to {
		--angle: 360deg;
	}
}

.create-button::before {
	/* soft glow layer */
	filter: blur(1.5rem);
	opacity: 0.5;
	z-index: 0;
}

.create-button::after {
	/* main ring sits underneath the button */
	z-index: -1;
}

/* inner button styling to sit above the animated ring */
.create-button>button {
	display: block;
	width: 100%;
	border-radius: inherit;
	background-color: var(--color-button-primary);
	color: var(--color-button-text);
	padding: 0.6em 1.2em;
	border: none;
	position: relative;
	z-index: 1;
}

.home-container-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.arrow-container {
	display: contents;
}

.arrow {
	position: absolute;
	width: 250px;
	height: 250px;
}

.arrow-1 {
	bottom: calc(100% + 10px);
	right: calc(60% + 10px);
}

.arrow-2 {
	bottom: calc(100% + 10px);
	left: calc(40% + 10px);
}

.arrow-3 {
	top: calc(30% + 10px);
	left: calc(60% + 10px);
}

.arrow-4 {
	top: calc(30% + 10px);
	right: calc(80% + 10px);
}

@media (max-width: 768px) {
	.home-container {
		margin: 10% 0;
	}

	.arrow {
		width: 150px;
		height: 150px;
	}

	.home-container-button button {
		width: 150px;
	}

	.arrow-1 {
		bottom: calc(100% + 5px);
		right: calc(80% + 5px);
	}

	.arrow-2 {
		bottom: calc(100% + 5px);
		left: calc(60% + 5px);
	}

	.arrow-3 {
		top: calc(100% + 5px);
		left: calc(60% + 5px);
	}

	.arrow-4 {
		top: calc(30% + 5px);
		right: calc(80% + 5px);
	}

}
