.home-container {
	position: relative;
	place-items: center;
	margin: auto;
	display: grid;
	margin: 2% 0;
	height: 100%;
}

.home-container-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.arrow-container {
	display: contents;
}

.arrow {
	position: absolute;
	width: 250px;
	height: 250px;
}

.arrow-1 {
	bottom: calc(100% + 10px);
	right: calc(60% + 10px);
}

.arrow-2 {
	bottom: calc(100% + 10px);
	left: calc(40% + 10px);
}

.arrow-3 {
	top: calc(30% + 10px);
	left: calc(60% + 10px);
}

.arrow-4 {
	top: calc(30% + 10px);
	right: calc(80% + 10px);
}

.home-container-button button {
	width: 200px;
}

@media (max-width: 768px) {
	.home-container {
		margin: 10% 0;
	}

	.arrow {
		width: 150px;
		height: 150px;
	}

	.home-container-button button {
		width: 150px;
	}

	.arrow-1 {
		bottom: calc(100% + 5px);
		right: calc(80% + 5px);
	}

	.arrow-2 {
		bottom: calc(100% + 5px);
		left: calc(60% + 5px);
	}

	.arrow-3 {
		top: calc(100% + 5px);
		left: calc(60% + 5px);
	}

	.arrow-4 {
		top: calc(30% + 5px);
		right: calc(80% + 5px);
	}

}
