input {
	width: 90%;
	box-sizing: border-box;
	border: none;
	border-radius: 0.8em;
	padding: 10px;
	margin: 0.8em auto;
	/* Ostali stilovi za input polje */
	background-color: var(--color-textbox);

	color: var(--color-text);
}

.chat-input {
	width: 100%;
	background-color: var(--color-chatdisplay);
	display: grid;
	place-items: center;
	/* Koristi istu boju kao chat-display */
}
