.btn-primary {
  padding: 8px 16px;
  border-radius: 12px;
  border: none;
  background: var(--color-button-submit);
  color: white;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: var(--color-button-submit-hover);
  opacity: 0.9;
}

.btn-secondary {
  padding: 8px 16px;
  border-radius: 12px;
  cursor: pointer;
}

.btn-secondary:hover {
  background: #f3f3f3;
}

.btn-close {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
  text-align: center;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
}

.modal {
  background: var(--color-chatdisplay);
  border-radius: 16px;
  padding: 24px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  z-index: 10002;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 12px;
}

.modal-form {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal-form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.modal-form input:focus {
  border-color: var(--color-input-focus-border);
}

.error {
  color: red;
  font-size: 14px;
}

.modal-actions {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 8px;
  margin-top: 12px;
}

@media (max-width:768px) {
  .modal {
    max-width: 200px;
  }

}
