* {
  margin: 0;
  padding: 0;
}

a {
  color: #646cff;
  text-decoration: inherit;
}

h2 {
  color: var(--color-text);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: var(--color-text);
}

li {
  color: var(--color-text);
}

body {
  font-family: "Raleway";
  margin: 0;
  min-width: 320px;
  min-height: 100dvh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  font-size: 2.2em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  border: none;

  color: var(--color-button-text);
}

input:focus {
  border: none;
  outline: none;
  caret-color: #00000040;
}

imput {
  font-family: inherit;
}

button:focus,
button:focus-visible {
  outline: none;
}

a:hover {
  color: #747bff;
}

button {
  background-color: var(--color-button-primary);
  transition: transform 0.5s ease-out;
}

button.disabled {
  transition: 0;

}

button:hover {
  border-color: var(--color-button-border-hover);
  transform: scale(0.9);
  background-color: var(--color-button-primary-hover);
}
