.user-box {
	text-align: center;
	background-color: var(--color-userBox);
	box-shadow: var(--shadow-medium);
	opacity: 1;
	width: 100px;
	height: 4dvh;

	margin-top: 2%;
	margin-right: 2%;
}

p {
	font-weight: 580;
	font-size: 1.4rem;
	margin: 0;
}

@media (max-width: 768px) {
	.user-box {
		display: none;
	}
}
